services:
  localstack:
    image: localstack/localstack:3
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,sqs,dynamodb
      - AWS_DEFAULT_REGION=eu-west-1
    volumes:
      - localstack-data:/var/lib/localstack

volumes:
  localstack-data:
